/*.App {
  text-align: center;
} 

.search-bar {
  margin-bottom: 20px;
}


.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  width: 48%; 
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}*/
